doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
    title Natours | #{tour} 
  body 
    h1= tour 
    h2= user.toUpperCase()
    - const a = 34;
    h2= 2 * a

    //- h1 The Sea Explorer 
    p This is just some text


  
